# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.svg text eol=lf

# Archives
*.zip binary
*.tar binary
*.gz binary

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
